<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>login</h1>
    {{if .Authenticated }}
    <a href="/">Welcome back! {{.Username}}</a>
    {{end}}
    {{ if not .Authenticated }}
    <p>please enter your credentials:</p>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" value="Submit">
    </form>
    {{ end }}
</body>
</html>